{{ define "layout" }}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>GHOAM</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/chart">Chart of Accounts</a>
    </nav>
    <main>{{ block "content" . }}{{ end }}</main>
  </body>
</html>
{{ end }}
