{{ define "chart" }}
  <ul>
    {{ template "chartNode" . }}
  </ul>
{{ end }}

{{ define "chartNode" }}
  <li>
    {{ if .Group }}<strong>{{ .Group.Name }}</strong>{{end}}

    {{ if .Accounts }}
      <ul>
        {{ range .Accounts }}
        <ul>
          <li>{{ .Name }}</li>
        </ul>
        {{ end }}
      </ul>
    {{ end }}

    {{ if .Children }}
    <ul>
      {{ range .Children }}
        {{ template "chartNode" . }}
      {{ end }}
    </ul>
    {{ end }}
  </li>
{{ end }}